@import "tailwindcss";

@utility pt-safe-top {
  padding-top: env(safe-area-inset-top, 0px);
}

@utility safe-area-bottom {
  padding-bottom: env(safe-area-inset-bottom, 0px);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
